<div>Coming soon</div>

@*@using Sibers.Models.Authorization
@model SignInViewModel
@{Layout = "";}
@section Scripts{
    <script src="~js/signin-validation.js"></script>
}
<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <div>
            <form asp-action="SignIn" asp-controller="Authorization" asp-antiforgery="true">
                <h2>Вход</h2>
                <div>
                    <label asp-for="Login"></label>
                    <div>
                        <i class="fas fa-user"></i>
                        <input asp-for="Login" placeholder="Login" />
                    </div>
                </div>
                <div>
                    <label asp-for="Password"></label>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input asp-for="Password" placeholder="Password" />
                    </div>
                </div>
                <input type="submit" placeholder="Войти" />
            </form>
        </div>
    </div>
</body>
</html>*@