@font-face {
    font-family: 'SiteFont';
    src: url(../)
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.white-oswald {
    font-family: 'Oswald', Courier New, Courier;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.red-oswald {
    font-family: 'Oswald', Courier New, Courier;
    font-weight: 500;
    font-size: 16px;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

.blue-background {
    background-color: rgba(35, 138, 235, 1);
}

.blue-btn {
    padding: 10px;
    margin-right: 25px;
    background-color: rgba(35, 138, 235, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    .blue-btn:hover {
        background-color: rgba(35, 138, 235, .8);
    }


.highlight:hover {
    color: rgb(35, 138, 235);
}

.input-validation-error {
    border-color: red;
}

header {
    height: 10vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#logo {
    width: 20vw;
    height: 70%;
    cursor: pointer;
    background-image: url(../image/Sibers_Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
}

.navigation-list {
    width: auto;
    list-style: none;
    padding: 0px 0px;
    position: relative;
}

    .navigation-list li {
        display: inline-block;
        margin: 0px 40px;
    }

    .navigation-list ul.dropdown-content {
        background: black;
        padding: 5px;
        position: absolute;
        top: 29px;
        left: -9999px;
        z-index: 3;
        border-top: 2px solid rgb(35, 138, 235);
        box-shadow: 0px 3px 7px #251d1b;
    }

    .navigation-list li:hover ul.dropdown-content {
        left: auto;
    }

    .navigation-list li a.dropdown-text {
        display: block;
        padding: 5px;
    }

    .navigation-list li:hover a.dropdown-text {
        cursor: pointer;
    }


#logoCube {
    width: 50vw;
    height: 50vh;
    background: url(../image/Cube.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#table-title {
    color: rgb(0, 122, 204);
    text-align: center;
    font-family: Oswald;
    margin-top: 15px;
    text-transform: uppercase;
}


#table-wrapper {
    position: relative;
}

#table-scroll {
    max-height: 65vh;
    overflow: auto;
    margin-top: 20px;
}


#table-wrapper table {
    width: 100%;
}


.table-content {
    border-collapse: collapse;
    margin: 5px 0px 10px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

    .table-content th,
    .table-content td {
        padding: 12px 15px;
    }

    .table-content tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .table-content tbody tr:last-of-type {
            border-bottom: 2px solid rgba(35, 138, 235, .7);
        }

.change-color-for-even tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.inside-project {
    background-color: lightskyblue;
}

.outside-project {
    background-color: lightsalmon;
}

.table-text {
    font-family: sans-serif;
    color: black;
    font-size:15px;
}

.change, .delete, .info {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin: 0px;
}

    .change:hover {
        color: dodgerblue;
    }

    .delete:hover {
        color: red;
    }

    .info:hover{
        color:orange;
    }


    .tends-to-center {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.blue-border {
    border-bottom: 2px solid rgba(35, 138, 235, .7);
    box-shadow: 0px 3px 7px #251d1b;
    margin: 10px;
}


.dialog-buttons {
    margin-top: 30px;
}

.static-field {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group {
    max-height: 700px;
    max-width: 700px;
    min-height: 250px;
    min-width: 250px;
}

#projectForm {
    display: flex;
}

.column {
    flex: 30%;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
}


main {
    height: 80vh;
}

footer {
    height: 10vh;
    background: black;
    color: white;
    display: fleX;
    justify-content: space-between;
    align-items: center;
}
