@model List<CompanyViewModel>
@{
    ViewData["Title"] = "Компании Исполнители";
}

<div>
    <h1 class="name-table">Компании Исполнители</h1>
    <div class="screen-center">
    <table class="content-table">
        <thead>
            <tr>
                <th>Название Компании</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.CompanyName</td>
                    <td>@company.Description</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>
